body{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
}
.navbar{
	background-color: #393941;
	min-height: 70px;
}

.navbar-brand img.logo{
	max-height: 40px;
}

.jumbotron{
	margin-bottom: 0px;
}

.back-call{
	padding: 20px;
	/*background-color: #000;*/
	color: #4A4A4A;
}

.back-call h1{
	font-size: 50px;
}
.back-call p{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

p.form-label{
	text-align: left;
}

.form-group:last-of-type{
	padding-top: 20px;
}

.form{
	padding: 10px;
	/*border-radius: 10px;*/
	background-color: #393941;
}

.form .form-group label{
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

.form-content{
	padding: 10px 30px;
	color: #FFF;
}

.btn{
	border-radius: 0px;
}


@media screen and (max-width: 768px) {
  .back-call{
  	padding-top: 100px;
  }
}

div.jumbotron.hero-fappes{
  color:#fff;
  text-align:center;
  background: url('../img/hero.jpg');
  background-size:cover;
  background-position:center;
  padding-top:150px;
  padding-bottom:150px;
}

